---
interface Props {
  index: string;
}

const { index } = Astro.props;
---

<div class="flex flex-col gap-4">
  <p>Pokemon #{index}</p>
  <select class="select w-full max-w-xs">
    <option disabled selected>Pick your pokemon</option>
    {[...Array(150).keys()].map((i) => <option>{i}</option>)}
  </select>
</div>
